<section class="text-center">
  <h1 class="display-4">About Us</h1>
  <p class="col-8 mx-auto fs-3">Introducing FindIt your trusted partner in discovering skilled
    professionals for your home improvement needs. Whether you're looking for a
    reliable plumber, a talented electrician, or a top-notch landscaper, we've
    got you covered. Our platform connects homeowners with a network of
    certified and experienced professionals, ensuring that your home projects
    are completed with precision and care. Say goodbye to the hassle of
    searching and let FindIt simplify your home improvement journey.
    Your dream home is just a click away!</p>
</section>