<section class="justify-content-center align-items-center">
  <div class="container-flex text-center my-5">
    <h1 class='display-4 mb-4'>Contact Us</h1>
  </div>

  <div class="col-7 mx-auto">
    <form id="contact-form">
      <div class='form-group m-2'>
        <label for='name'>Name:</label>
        <input
          type='text'
          class='form-control'
          id='name'
          placeholder='First and Last Name'
        />
      </div>
      <div class='form-group m-2'>
        <label for='email'>Email:</label>
        <input
          type='email'
          class='form-control'
          id='email'
          placeholder='Email'
        />
      </div>
      <div class='form-group m-2'>
        <label for='message'>Message:</label>
        <textarea
          class='form-control'
          id='message'
          rows='4'
          placeholder='What Can We Help You With?'
        ></textarea>
      </div>
      <button type='submit' class='btn m-2 btn-primary contact-submit'>Submit</button>
    </form>
  </div>
</section>