<section class="container-flex text-center my-3">
    <h1 class="display-4">Anything You Need For Your Home <strong>FindIt</strong> Here</h1>
    <h2 class="display-5"></h2>
<div class="hero-img">
    <img src="/Images/hero.png">
</div>
    <h3 class="display-6">Discover what you're looking for with ease by exploring our extensive database of certified professionals.</h3>
<div>
    <br>
    <h4><a href="login">Log In</a> to start searching!</h4>
</div>
    
</section>