<div class="row mt-4">
  <div class="col-md-12 text-center">
    <h1 class="display-4">Request Sent</h1>
    <br>
    <div id="contact-form">
    {{#each result as |r|}}
        <h3>Name: {{r.name}}, Email: {{r.email}}</h3>
        <p>Comment: {{r.message}}</p>
    {{/each}}
    </div>

  </div>

</div>