<h1 class="display-4 text-center">Log In</h1>

<div class="registration-form" id="login">
        <form>
            <div class="form-icon">
                <span><i class="fa-solid fa-circle-user fa-xl"></i></span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" id="username" placeholder="Username (email)">
            </div>
            <div class="form-group">
                <input type="password" class="form-control item" id="password" placeholder="Password">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block create-account">Login</button> <!-- changed type from 'button' to 'submit' -->
                <button type="button" class="btn btn-block create-account">
                    <a href="/createaccount" class="create-account-btn">Create An Account</a>
                </button>
            </div>
        </form>
    </div>

  {{!-- <script src="./js/login.js"></script> --}}