<div class="row">
  <div class="col-auto">
    <h2 class="display-4">Welcome Back, <span id="user-name"></span>!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-5 m-2">
    <h3 class="display-6">Start A New Search</h3>
    <br>
    <form id="new-search">

      <div class="input-group mb-4">
        <label class="input-group-text" for="inputGroupSelect01">Services</label>
        <select class="form-select" id="inputGroupSelect01">
          <option selected>Choose...</option>
          {{#each categories as |cat|}}
            <option value="{{cat}}"> {{cat}}</option>
          {{/each}}
        </select>
      </div>


      <div class="input-group mb-4">
        <label class="input-group-text" for="inputGroupSelectState">State</label>
        <select class="form-select" id="inputGroupSelectState">
          <option selected>Choose...</option>
          {{#each states as |s|}}
            <option value="{{s}}"> {{s}}</option>
          {{/each}}
        </select>
      </div>

      <div class="form-group">
        <label for="city" class="display-6 mb-4">City</label>
        <br>
        <input type="text" class="form-control" id="city" placeholder="Enter city">
      </div>
      <br>

      <button type="submit" class="btn btn-primary profile-submit">Submit</button>
    </form>
  </div>
  
  <div class="col-md-5">
    <h4 class="display-6">View Your Previous Searches</h4>
    <div id="previous-searches"></div>
  </div>

  {{!-- <script src="./js/profile.js"></script> --}}