<div class="row mt-4">
  <div class="col-md-12 text-center">
    <h1 class="display-4 mb-4">Search Results</h1>
    <p class="display-6">Take A Look At These Local Pros!</p>
    
    {{#each result as |r|}}
        <h3>{{r}}</h3>
    {{/each}}

  </div>

</div>